**Data types in Python**

- String
- List
- Tuple
- Set
- Dictionary

** String **

In [5]:
# String: strings are always remains in double / single quotes, it is immutable
raw_str = "abc"
print(type(raw_str))
print(len(raw_str))
for c in raw_str:
    print(c)  # indentation
    if len(c) < 2:
        print(c*2)

<class 'str'>
3
a
aa
b
bb
c
cc

In [3]:
a ='jhdgjajsa'
a

'j'

** LIST **

In [11]:
# List: list always has square brackets , it is mutable
raw_list = []
print(type(raw_list))
print(len(raw_list))
############################
raw_list1 = [ 1, 2, 3]  # list of integres
raw_list2 = ["abc", "pqrew", "hdjks", "23"]   # list of strings
print(len(raw_list1))
print(len(raw_list2))
print("-------------------------------------")
for c in raw_list1:
    print(c)
for d in raw_list2:
    print(d)
    
################################################

print(raw_list2[0])

#####################

raw_list2[3]  = "hdjhjksdhjhdjks"

print(raw_list2[3])

raw_list2.append("psssdsd")
print(len(raw_list2))

for l in raw_list2:
    print(l)

<class 'list'>
0
3
4
-------------------------------------
1
2
3
abc
pqrew
hdjks
23
abc
hdjhjksdhjhdjks
5
abc
pqrew
hdjks
hdjhjksdhjhdjks
psssdsd

** Tuples**

In [10]:
# Tuples: Tuples requires atleast one comma, and remains enclosed by  paranthes (it optional)
# It is immutable
raw_tuple = (2,3)
raw_tuple1 = 2,4
raw_tuple2 = ()
print(type(raw_tuple2))
print(type(raw_tuple), len(raw_tuple))
print(type(raw_tuple1), len(raw_tuple1))
raw_tpl = (3,)
print(type(raw_tpl))
ra_lst = ["ds"]
raw_str22 = "A"

for t in raw_tuple:
    print(t)

<class 'tuple'>
<class 'tuple'> 2
<class 'tuple'> 2
<class 'tuple'>
2
3

In [12]:
# Dictionary: Data remains in key and value pair format and remin enclosed by {}; it is also mutable

raw_dict = {}
print(type(raw_dict), len(raw_dict))

raw_dict1 = {
    "name": "Saket",
    "course": "B.Voc",
    "semester": 5,
    "sudent_name": ["std1", "std2", "std3"]
}

for k, v in raw_dict1.items():
    print("I am the key {} and my value is {}".format(k, v))

all_keys = raw_dict1.keys()
print(all_keys)

all_values = raw_dict1.values()
print(all_values)

<class 'dict'> 0
I am the key name and my value is Saket
I am the key course and my value is B.Voc
I am the key semester and my value is 5
I am the key sudent_name and my value is ['std1', 'std2', 'std3']
dict_keys(['name', 'course', 'semester', 'sudent_name'])
dict_values(['Saket', 'B.Voc', 5, ['std1', 'std2', 'std3']])

In [28]:
# Set: Set are also immutable
std1 = ["A", "B", "C", "D"]
std2 = ["A", "C", "P", "Q"]
print(type(std1), type(std2))
std1_set = set(std1)
std2_set = set(std2)
print(type(std1_set), type(std2_set))
print(std1, std1_set)

comman_subject = std1_set.intersection(std2_set)
#comm = std2_set.intersection(std1_set)
print("Comman subject: {}".format(comman_subject))

different_from_std2 = std1_set.difference(std2_set)
print("std1 has these different subjects from: std2 {} ". format(different_from_std2))

diffenet_from_std1 = std2_set.difference(std1_set)
print("std2 has these different subjects from: std1 {} ". format(diffenet_from_std1))

<class 'list'> <class 'list'>
<class 'set'> <class 'set'>
['A', 'B', 'C', 'D'] {'B', 'D', 'A', 'C'}
Comman subject: {'C', 'A'}
std1 has these different subjects from: std2 {'B', 'D'}
std2 has these different subjects from: std1 {'Q', 'P'}

Since 2
August 2019
** LIST :: NEW **

It must have [] brackets,
List is *Mutable*

In [9]:
a =[]
print(type(a))
print(len(a))

<class 'list'>
0

In [2]:
b = [3 , 4 , 5, 7]
print(type(b)); print(len(b))

<class 'list'>
4

*** Print Each Element of **a** one by one ***

** 1st Method **:

In [3]:
c = len (b)
i = 0
while i < c:
    print(b[i])       # Printing each element via its index (i)
    i = i + 1         # i +=1

3
4
5
7

** 2nd Method **

In [13]:
for x in b:       # here, b is a list of integers
    print(x)

3
4
5
7

In [4]:
raw_str = ['ac', 'cd', 'pg','34']    # List of Strings
print(raw_str); print(type(raw_str)); print(len(raw_str))

['ac', 'cd', 'pg', '34']
<class 'list'>
4

In [5]:
print(raw_str[0]);             # Fetching string elements 
print(type(raw_str[0]))
print(len(raw_str[0]));

ac
<class 'str'>
2

In [20]:
print(raw_str[3])
print(type(raw_str[3]))
print(len(raw_str[3]))

34
<class 'str'>
2

In [21]:
for x in raw_str[3]:
    print(x)

3
4

In [22]:
for x in raw_str:
    for y in x:
        print(y)

a
c
c
d
p
g
3
4

In [23]:
for x in raw_str:
    for y in x:
        print(y*3)

aaa
ccc
ccc
ddd
ppp
ggg
333
444